input[type=submit],
input[type=text] {
    margin: 12px;
    width: fit-content;
    border-radius: 4px;
    box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #008060;
    color: white;
}